@import "../Welcome.scss";

.tag-line {
  position: absolute;
  left: $welcome-side-margin;
  top: $welcome-top-margin;
  color: white;
  transform: translateY(-50%);
}

.logo{
  width: 50vw;
}

p{
  font-family: CreteRound, serif;
  font-size: 15pt;
  line-height: 0.5;
}