@import "../Welcome.scss";

.tag-line {
  position: absolute;
  left: $welcome-side-margin;
  top: $welcome-top-margin;
  color: white;
  transform: translateY(-50%);
}

.logo {
  width: 50vw;
  filter: drop-shadow(1px 1px 0 black)
  drop-shadow(-1px -1px 0 black);
}

.text-container {
  max-width: 70vw;
}

.text {
  font-size: 15pt;
}

span {
  display: inline-block;
}