$umbrella-radius: 300vmax;
$umbrella-margin: -1 * $umbrella-radius / 2;
$filter-color: rgba(0, 0, 0, 1);

.wallpaper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  bottom: 0;

  overflow: hidden;
  background-color: $filter-color;
  animation: flash 1s ease-out;
}

#logo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

@keyframes flash {
  from {
    background-color: rgb(255, 255, 255);
  }
  to {
    background-color: $filter-color;
  }
}